<div class="row" style="margin-top: 30px; margin-bottom: 10px;">
	<div class="stepwizard">
		<div class="stepwizard-row">
			<div class="stepwizard-step">
				<button type="button" class="btn btn-default btn-circle"
					disabled="disabled">1</button>
				<p>Idea description</p>
			</div>
			<div class="stepwizard-step">
				<!-- <button type="button" class="btn btn-primary btn-circle">2</button> -->

				<a class="btn btn-circle"
					style="background: #469686; color: #333333;"
					href="#/problemValidation">2</a>

				<p>Problem validation</p>
			</div>
			<div class="stepwizard-step">
				<button type="button" class="btn btn-default btn-circle"
					disabled="disabled">3</button>
				<p>Solution validation</p>
			</div>
			<div class="stepwizard-step">
				<button type="button" class="btn btn-default btn-circle"
					disabled="disabled">4</button>
				<p>Scaling and demand</p>
			</div>
			<div class="stepwizard-step">
				<button type="button" class="btn btn-default btn-circle"
					disabled="disabled">5</button>
				<p>Scaling the solution</p>
			</div>
			<div class="stepwizard-step">
				<button type="button" class="btn btn-default btn-circle"
					disabled="disabled">6</button>
				<p>Revenue optimization</p>
			</div>
		</div>
	</div>

</div>