<div class="container-fluid" style="border: 0px; padding-top: 0px;">
	<div class="row" style="border: 0px; padding-top: 0px;">
		<div class="col-lg-2" style="border: 0px; padding-top: 0px;"></div>
		<div class="col-lg-8" style="border: 0px; padding-top: 0px;">
			<div class="media" style="border: 0px; padding-top: 0px;">
				<div class="media-left">
					<img class="media-object" src="images/profileimage.jpg"
						>
				</div>
				<div class="media-body" style="background-color: #398173;">
					<h3 class="media-heading"
						style="background-color: #398173; padding-left: 30px; height: 40px; vertical-align: middle; padding-top: 10px; color:#ffffff;">John
						McManus</h3>
					<h4 class="media-heading" style="padding-left: 30px; padding-top: 10px; color:#c5e6df;">Title :
						Product Manager</h4>
					<h4 class="media-heading" style="padding-left: 30px; padding-top: 10px; color:#c5e6df;">Department
						: Retails channels</h4>
					<h4 class="media-heading" style="padding-left: 30px; padding-top: 10px; color:#c5e6df;">Business
						unit : New Business Development</h4>
					<h4 class="media-heading" style="padding-left: 30px; padding-top: 10px; color:#c5e6df;">Email :
						jmcmanus@myco.com</h4>
					<h4 class="media-heading" style="padding-left: 30px;padding-top: 10px; color:#c5e6df;">Mobile
						no : 512 123 4567</h4>
				</div>
			</div>
		</div>
		<div class="col-lg-2" style="border: 0px; padding-top: 0px;"></div>
	</div>
	<div class="row" style="border: 0px; padding-top: 0px;">
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-lg-2" style="border: 0px; padding-top: 0px;"></div>
		<div class="col-lg-8">
			<table>
				<tr>
					<td style="background-color: black; color:#ffffff; padding-left: 10px;"  width="80px"; height="40px;"><h4>Skills</h4></td>
					<td style="background-color: gray; color:#ffffff; padding-left: 30px;" width="950px;">Complete
						your profile in your own words or import it from LinkedIn!</td>
				</tr>
			</table>
		</div>
		<div class="col-lg-2" style="border: 0px; padding-top: 0px;"></div>
	</div>
	<div class="row"><div class="col-lg-12">&nbsp;</div></div>
	<div class="row"><div class="col-lg-2">&nbsp;</div><div class="col-md-3" style="color:#4e4d4d;">Type your skills here</div>
	<div class="col-md-7">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-md-2" style="border: 0px; padding-top: 0px;"></div>
		<div class="col-md-3">
			<div class="form-group">
				<textarea class="form-control" rows="11" id="skills"
					 style="background-color: #dddbdc; color:#888888;">Experienced product manager. Focus on customer experience and relationships. Customer development, analytics, design, channel development, customer research psychographic studies </textarea>

			</div>
		</div>
		<div class="col-md-4">
			<div class="container">
				<img src="images/cloud.png" class="img-rounded"
			alt="Global Innovation village logo">
			</div> 
		</div>
		<div class="col-md-2" style="border: 0px; padding-top: 0px;"></div>
	</div>
	<div class="row">
		<div class="col-md-2" style="border: 0px; padding-top: 0px;"></div>
		<div class="col-md-3">
			<table>
				<tr>
					<td><img src="images/ic_linkdin.png"  height="40" width="40"></td>
					<td style="padding-left: 20px; background-color: #c5e6df;"> Import your skills via LinkedIn.</td>
				</tr>
			</table>
		</div>
		<div class="col-md-7">&nbsp;			
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-2" style="border: 0px; padding-top: 0px; background-color: #c6e6df;"></div>
		<div class="col-md-8" align="center" style="background-color: gray; color:#ffffff;">
			Find about your innovation personality, take our test <u>here..</u>
		</div>
		<div class="col-md-2">&nbsp;			
		</div>
		
	</div>

</div>



<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<table>
			<tr>
				<td rowspan="6"><img src="images/profileimage.jpg"></td>
				<td>John McManus</td>
			</tr>
			<tr>
				
				<td>Title : Product Manager</td>
			</tr>
			<tr>
				
				<td>Department : Retails channels</td>
			</tr>
			<tr>
			
				<td>Business unit : New Business Development</td>
			</tr>
			<tr>
			
				<td>Email : jmcmanus@myco.com</td>
			</tr>
			<tr>
			
				<td>Mobile no : 512 123 4567</td>
			</tr>
			</table>
		</div>
	</div>
</div> -->